@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/media//MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/media/MaterialIcons-Regular.woff2) format('woff2'),
       url(/media//MaterialIcons-Regular.woff) format('woff'),
       url(/media//MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
#map-canvas {width: 100%;height: 400px;}
.message-label {font-size:0.65em;background-color: #e8e8e8;border-color: #e8e8e8;box-sizing: border-box;color: rgba(0, 0, 0, 0.65);display: inline-block;
font-weight: bold;margin: 0.5em 0.5em 0.7em;padding: 0em 0.5em;text-transform: uppercase;transition: background 0.1s linear 0s;vertical-align: middle;}
.error .message-label, .error.message-label {margin-left:10px;background-color: #D95C5C;color: #fff}
.error label {color: #D95C5C;}
.warning .message-label, .warning.message-label {margin-left: 0em;background-color: #FFB85C;color: #fff}
.warning label {color: #FFB85C;}
#loading {width:110px;height:110px;margin:0 auto;top:0;left:0;bottom:0;right:0;padding:5px;z-index:1;}
#loading img {margin:0 auto;top:0;left:0;bottom:0;right:0;z-index:1;}
#starting-loc {display:inline;}
.direction-links .button {padding: 0.4em 0.6em 0.35em;}
.direction-links .button.active {background-color: #334992;}
#starting-loc button {float:right;padding: 0.4em 1.5em 0.35em 1.5em;}
.form-group fieldset {border:none;margin:0;padding:0;}
.form-group fieldset legend {color: #4d4d4d;cursor: pointer;display: block;font-size: 0.875em;font-weight: 500;margin-bottom: 0.1875em;}
.form-group fieldset label {display: inline;font-size: 0.875em;margin-bottom: 0;margin-left: 0px;text-indent: 0px;text-transform: capitalize;font-variant: unset;}
#starting-loc {display:inline;}
.direction-links {margin-top: -1em;margin-bottom: -1em;}
#directions {position:absolute;top:0;z-index:0;background-color:#fff;overflow-y:auto;}
#results {position:relative;overflow-y:auto;height:100%;}
#filter{margin: 1.2em 0 0;padding-top: 0.5em;padding-bottom: 0.5em;}
.gray-pulse.button[disabled] {-webkit-animation-name: grayPulsew;-webkit-animation-duration: 1.5s;-webkit-animation-iteration-count: infinite;-moz-animation-name: grayPulsem;-moz-animation-duration: 1.5s;
-moz-animation-iteration-count: infinite;animation-name: grayPulse;animation-duration: 1.5s;animation-iteration-count: infinite;}
@-webkit-keyframes grayPulsew {from { background-color: #777; opacity: 0.3 ; } 50% { background-color: #777; opacity: 1.0 ; }to { background-color: #777; opacity: 0.3 }}
@-moz-keyframes grayPulsem {from { background-color: #777; opacity: 0.3 ; } 50% { background-color: #777; opacity: 1.0 ; }to { background-color: #777; opacity: 0.3 }}
@keyframes grayPulse {from { background-color: #777; opacity: 0.3 ; } 50% { background-color: #777; opacity: 1.0 ; }to { background-color: #777; opacity: 0.3 }}